<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.GaddressMapper">

    <select id="getGaddressById" resultType="com.zb.pojo.Gaddress">
        select
                Addressid as Addressid,
                Addressname as Addressname
        from gaddress
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getGaddressListByMap" resultType="com.zb.pojo.Gaddress" parameterType="java.util.Map">
        select
                Addressid as Addressid,
                Addressname as Addressname
        from gaddress
        <trim prefix="where" prefixOverrides="and | or">
                <if test="Addressid != null and Addressid!=''">
                    and Addressid=#{Addressid}
                </if>
                <if test="Addressname != null and Addressname!=''">
                    and Addressname=#{Addressname}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getGaddressCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from gaddress
        <trim prefix="where" prefixOverrides="and | or">
                <if test="Addressid != null and Addressid!=''">
                    and Addressid=#{Addressid}
                </if>
                <if test="Addressname != null and Addressname!=''">
                    and Addressname=#{Addressname}
                </if>
        </trim>
    </select>

    <insert id="insertGaddress" parameterType="com.zb.pojo.Gaddress">
        insert into gaddress(
                        Addressid,
                        Addressname)
        values(
                     #{Addressid},
                    #{Addressname})
    </insert>

    <update id="updateGaddress" parameterType="com.zb.pojo.Gaddress">
        update gaddress
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="Addressid != null and Addressid!=''">
                            Addressid=#{Addressid},
                        </if>
                        <if test="Addressname != null and Addressname!=''">
                            Addressname=#{Addressname}
                        </if>
        </trim>
    </update>
</mapper>