<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.GtypeMapper">

    <select id="getGtypeById" resultType="com.zb.pojo.Gtype">
        select
                Typeid as Typeid,
                Typename as Typename
        from gtype
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getGtypeListByMap" resultType="com.zb.pojo.Gtype" parameterType="java.util.Map">
        select
                Typeid as Typeid,
                Typename as Typename
        from gtype
        <trim prefix="where" prefixOverrides="and | or">
                <if test="Typeid != null and Typeid!=''">
                    and Typeid=#{Typeid}
                </if>
                <if test="Typename != null and Typename!=''">
                    and Typename=#{Typename}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getGtypeCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from gtype
        <trim prefix="where" prefixOverrides="and | or">
                <if test="Typeid != null and Typeid!=''">
                    and Typeid=#{Typeid}
                </if>
                <if test="Typename != null and Typename!=''">
                    and Typename=#{Typename}
                </if>
        </trim>
    </select>

    <insert id="insertGtype" parameterType="com.zb.pojo.Gtype">
        insert into gtype(
                        Typeid,
                        Typename)
        values(
                     #{Typeid},
                    #{Typename})
    </insert>

    <update id="updateGtype" parameterType="com.zb.pojo.Gtype">
        update gtype
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="Typeid != null and Typeid!=''">
                            Typeid=#{Typeid},
                        </if>
                        <if test="Typename != null and Typename!=''">
                            Typename=#{Typename}
                        </if>
        </trim>
    </update>
</mapper>